@model m_PrivilegePartial
@{
    ViewData["Title"] = "Privilege 權限設定";
}

<div class="page-content">
    <div class="page-info container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Privilege 權限設定</li>
                    </ol>
                </nav>
            </div>
        </div>
      
    </div>
    <div class="main-wrapper container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-tabs " role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">PDC組員</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#contact" role="tab">PDC主管</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">後台管理</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <!-- PDC處理員 -->
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-title">新增人員</p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>工號</label>
                                                    <input type="text" class="form-control" id="ProcessEmpNumber" onchange="GetMember(this,'Process')">
                                                    <input type="hidden" id="ProcessID" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>姓名</label>
                                                    <input type="text" class="form-control" id="ProcessName" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>公司別</label>
                                                    <input type="text" class="form-control" id="ProcessCompCode" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>部門</label>
                                                    <input type="text" class="form-control" id="ProcessDeptName" disabled="disabled">
                                                    <input type="hidden" id="ProcessDeptCode" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label></label>
                                                <div class="input-group" style="padding-top: 10px;">
                                                    <a href="javascript:return false;" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose" onclick="AddMember('Process')">新增</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-title">清單</p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover"id="ProcessGrid">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col" style="width: 30%;">工號</th>
                                                                <th scope="col" style="width: 30%;">姓名</th>
                                                                <th scope="col" style="width: 20%;">公司別</th>
                                                                <th scope="col" style="width: 20%;">部門</th>
                                                                <th scope="col" style="width: 10%;">功能</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.vw_ProcessQueryList.Count == 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="5" style="font-weight:bold;font-size:larger">查無資料</td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                foreach(var item in Model.vw_ProcessQueryList)
                                                                {
                                                                    <tr>
                                                                        <td>@item.DomainEmpNumber</td>
                                                                        <td>@item.MemberName</td>
                                                                        <td>@item.CompCode</td>
                                                                        <td>@(string.IsNullOrWhiteSpace(item.ShowName) ? item.BUName : item.ShowName)</td>
                                                                        <td><a href="javascript:return false;" class="btn btn-outline-danger" style=" padding: 4px 25px;" id="mail-compose" onclick="DeletePrivilege(this,'@item.PrivilegeID')">刪除</a></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- PDC指派員 -->
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-title">新增人員</p>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>工號</label>
                                                    <input type="text" class="form-control" id="AssignEmpNumber" onchange="GetMember(this,'Assign')">
                                                    <input type="hidden" id="AssignID" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>姓名</label>
                                                    <input type="text" class="form-control" id="AssignName" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>公司別</label>
                                                    <input type="text" class="form-control" id="AssignCompCode" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>部門</label>
                                                    <input type="text" class="form-control" id="AssignDeptName" disabled="disabled">
                                                    <input type="hidden" id="AssignDeptCode" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>類別</label>
                                                    <select class="select2 form-control" id="IsMB">
                                                        <option value="true">MB</option>
                                                        <option value="false">其他</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Mail通知</label>
                                                    <select class="select2 form-control" id="IsMail">
                                                        <option value="true">是</option>
                                                        <option value="false">否</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label></label>
                                                <div class="input-group">
                                                    <a href="javascript:return false;" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose" onclick="AddMember('Assign')">新增</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-title">清單</p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover"id="AssignGrid">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col" style="width: 30%;">工號</th>
                                                                <th scope="col" style="width: 30%;">姓名</th>
                                                                <th scope="col" style="width: 20%;">公司別</th>
                                                                <th scope="col" style="width: 20%;">部門</th>
                                                                <th scope="col" style="width: 20%;">類別</th>
                                                                <th scope="col" style="width: 20%;">Mail通知</th>
                                                                <th scope="col" style="width: 10%;">功能</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.vw_AssignQueryList.Count == 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="7" style="font-weight:bold;font-size:larger">查無資料</td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                foreach (var item in Model.vw_AssignQueryList)
                                                                {
                                                                    <tr>
                                                                        <td>@item.DomainEmpNumber</td>
                                                                        <td>@item.MemberName</td>
                                                                        <td>@item.CompCode</td>
                                                                        <td>@(string.IsNullOrWhiteSpace(item.ShowName) ? item.BUName : item.ShowName)</td>
                                                                        <td>@item.IsMB</td>
                                                                        <td>@item.IsMail</td>
                                                                        <td><a href="javascript:return false;" class="btn btn-outline-danger" style=" padding: 4px 25px;" id="mail-compose" onclick="DeletePrivilege(this,'@item.PrivilegeID')">刪除</a></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- PDC管理員 -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-title">新增人員</p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>工號</label>
                                                    <input type="text" class="form-control" id="AdminEmpNumber" onchange="GetMember(this,'Admin')">
                                                    <input type="hidden" id="AdminID" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>姓名</label>
                                                    <input type="text" class="form-control" id="AdminName" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>公司別</label>
                                                    <input type="text" class="form-control" id="AdminCompCode" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>部門</label>
                                                    <input type="text" class="form-control" id="AdminDeptName" disabled="disabled">
                                                    <input type="hidden" id="AdminDeptCode" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label></label>
                                                <div class="input-group" style="padding-top: 10px;">
                                                    <a href="javascript:return false;" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose" onclick="AddMember('Admin')">新增</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-title">清單</p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="AdminGrid">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col" style="width: 30%;">工號</th>
                                                                <th scope="col" style="width: 30%;">姓名</th>
                                                                <th scope="col" style="width: 20%;">公司別</th>
                                                                <th scope="col" style="width: 20%;">部門</th>
                                                                <th scope="col" style="width: 10%;">功能</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.vw_AdminQueryList.Count == 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="5" style="font-weight:bold;font-size:larger">查無資料</td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                foreach (var item in Model.vw_AdminQueryList)
                                                                {
                                                                    <tr>
                                                                        <td>@item.DomainEmpNumber</td>
                                                                        <td>@item.MemberName</td>
                                                                        <td>@item.CompCode</td>
                                                                        <td>@(string.IsNullOrWhiteSpace(item.ShowName) ? item.BUName : item.ShowName)</td>
                                                                        <td><a href="javascript:return false;" class="btn btn-outline-danger" style=" padding: 4px 25px;" id="mail-compose" onclick="DeletePrivilege(this,'@item.PrivilegeID')">刪除</a></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Main -->
    </div>

</div>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
    <style>
        input[type="text"]:disabled {
            background: gray;
        }

        input[type="radio"]:disabled {
            background: gray;
        }

        select:disabled {
            background: gray;
        }
    </style>
}

@section Scripts {
    <!-- datatable Js -->
    <script type="text/javascript">
        $(document).ready(function () {

        });

        function AddMember(type) {

            if ($('#' + type + 'ID').val() == "" || $('#' + type + 'ID').val() == undefined || $('#' + type + 'ID').val() == null) {
                alert('請輸入工號');
                return;
            }

            $('body').removeClass('no-loader');

            var formData = new FormData();
            formData.append('MemberID', $('#' + type + 'ID').val());
            formData.append('type', type);
            if (type == "Assign") {
                formData.append('IsMB', $('#IsMB').val());
                formData.append('IsMail', $('#IsMail').val());
            }

            var _url = '@Url.Action("AddPrivilege", "Configuration")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                    }
                    else {
                        var Html = "";
                        Html += "<tr>";
                        Html += "<td>" + result.Privilege.DomainEmpNumber + "</td>";
                        Html += "<td>" + result.Privilege.MemberName + "</td>";
                        Html += "<td>" + result.Privilege.CompCode + "</td>";
                        var BUName = result.Privilege.ShowName == null ? result.Privilege.BUName : result.Privilege.ShowName;
                        Html += "<td>" + BUName + "</td>";
                        if (type == "Assign") {
                            Html += "<td>" + result.Privilege.IsMB + "</td>";
                            Html += "<td>" + result.Privilege.IsMail + "</td>";
                        }
                        Html += "<td><a href=\"javascript:return false;\" class=\"btn btn-outline-danger\" style=\" padding: 4px 25px;\" id=\"mail-compose\" onclick=\"DeletePrivilege(this,'" + result.Privilege.PrivilegeID + "')\">刪除</a></td>";
                        Html += "</tr>";
                        $('#' + type + 'Grid > tbody').append(Html);

                        $('#' + type + 'ID').val('');
                        $('#' + type + 'EmpNumber').val('');
                        $('#' + type + 'Name').val('');
                        $('#' + type + 'CompCode').val('');
                        $('#' + type + 'DeptName').val('');
                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    $('body').addClass('no-loader');
                }
            });
        }

        function GetMember(obj, type) {
            if ($('#' + type + 'EmpNumber').val() == "") {
                return;
            }

            $('body').removeClass('no-loader');

            var formData = new FormData();
            formData.append('EmpNumber', $('#' + type + 'EmpNumber').val());

            var _url = '@Url.Action("GetMember", "Configuration")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                        $('#' + type + 'ID').val('');
                        $('#' + type + 'EmpNumber').val('');
                        $('#' + type + 'Name').val('');
                        $('#' + type + 'CompCode').val('');
                        $('#' + type + 'DeptCode').val('');
                        $('#' + type + 'DeptName').val('');
                    }
                    else {
                        $('#' + type + 'ID').val(result.Member.MemberID);
                        $('#' + type + 'Name').val(result.apiModel.ENGNAM + '('+ result.apiModel.CHINAM +')');
                        $('#' + type + 'CompCode').val(result.apiModel.COMCOD);
                        $('#' + type + 'DeptCode').val(result.apiModel.DEPCOD);
                        $('#' + type + 'DeptName').val(result.apiModel.DEPNAM);
                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    $('body').addClass('no-loader');
                }
            });
        }

        //刪除權限
        function DeletePrivilege(obj, PrivilegeID) {
            $('body').removeClass('no-loader');


            var formData = new FormData();
            formData.append('PrivilegeID', PrivilegeID);

            var _url = '@Url.Action("DeletePrivilege", "Configuration")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                    }
                    else {
                        alert("刪除成功");
                        $(obj).parent().parent().remove();
                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    $('body').addClass('no-loader');
                }
            });
        }
    </script>
}