@model m_AssignPartial
@{
    ViewData["Title"] = "Assign 派單";
}

<div class="page-content">
    <div class="page-info container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Assign 派單</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-wrapper container">
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Assign" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">查詢條件</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>是否為MB</label>
                                        <select class="select2 form-control" asp-for="QueryParam.IsMB">
                                            <option value="" selected="selected"></option>
                                            <option value="true">MB</option>
                                            <option value="false">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>申請者狀態</label>
                                        @*<input type="email" class="form-control" placeholder="未指派/已指派/已完成/已抽單" disabled="disabled">*@
                                        <select class="select2 form-control" asp-for="QueryParam.FormStage">
                                            <option value=""></option>
                                            @foreach (var item in Model.m_FormStage)
                                            {
                                                <option value="@item.Key">@item.Value</option>

                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>查詢日期</label>
                                        <input type="text" class="form-control" id="SearchDate_Start" asp-for="QueryParam.SearchDate_Start">
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>　<a></a></label>
                                        <input type="text" class="form-control" id="SearchDate_End" asp-for="QueryParam.SearchDate_End">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>公司別</label>
                                        <select class="select2 form-control" asp-for="QueryParam.CompCode">
                                            <option value=""></option>
                                            @foreach (var item in Model.m_CompCodeList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>部門</label>
                                        <select class="select2 form-control" asp-for="QueryParam.BUCode">
                                            <option value=""></option>
                                            @foreach (var item in Model.m_DeptCodeList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>人員</label>
                                        <input type="text" class="form-control" asp-for="QueryParam.CreatorName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PCB Layout Status</label>
                                        <select class="select2 form-control" asp-for="QueryParam.PCBLayoutStatus">
                                            <option value=""></option>
                                            @foreach (var item in Model.PCBLayoutStatusList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PCB Type</label>
                                        <select class="select2 form-control" asp-for="QueryParam.PCBType">
                                            <option value=""></option>
                                            @foreach (var item in Model.PCBTypeList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Project</label>
                                        <input type="text" asp-for="QueryParam.ProjectName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Board Type</label>
                                        <input type="text" asp-for="QueryParam.BoardTypeName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rev.</label>
                                        <input type="text" asp-for="QueryParam.Revision" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div style="padding-top: 10px;">
                                        <button type="submit" class="btn btn-outline-info" id="SearchApply" style=" padding: 4px 25px;">查詢紀錄</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="padding-bottom: 0px;">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-title">查詢結果</p>
                                <div class="table-responsive">
                                    <table class="table table-hover" id="grid">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" style="">
                                                    <input type="checkbox" name="">
                                                    申請單號
                                                </th>
                                                <th scope="col" style="">單號順序</th>
                                                <th scope="col" style="">申請狀態</th>
                                                <th scope="col" style="">申請日期</th>
                                                <th scope="col" style="">公司別</th>
                                                <th scope="col" style="">部門</th>
                                                <th scope="col" style="">
                                                    PCB Layout<br>Status
                                                </th>
                                                <th scope="col" style="">Project</th>
                                                <th scope="col" style="">Board Type</th>
                                                <th scope="col" style="">Rev.</th>
                                                <th scope="col" style="">PDC 負責人</th>
                                                <th scope="col" style="">處理結果</th>
                                                <th scope="col" style="">完成日期</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i <= Model.vw_FormQueryList.Count - 1; i++)
                                            {
                                                var Path = Url.Action("WorkDetail", "Work") + "/?AppliedFormNo=" + @Model.vw_FormQueryList[i].AppliedFormNo;
                                            <tr>
                                                <td>
                                                    @if (Model.vw_FormQueryList[i].StageName == "Assign" || Model.vw_FormQueryList[i].StageName == "Apply")
                                                    {
                                                        <input type="checkbox" name="" value="@Model.vw_FormQueryList[i].AppliedFormNo">
                                                    }
                                                    <a href="@Path" class="btn btn-outline-light" style=" padding: 4px 10px;" id="mail-compose">@Model.vw_FormQueryList[i].AppliedFormNo</a>
                                                </td>
                                                <td>@Model.vw_FormQueryList[i].ApplyOrder</td>
                                                <td>@Model.vw_FormQueryList[i].FormStatus</td>
                                                @if (Model.vw_FormQueryList[i].FormStatusCode == cns.Services.Enum.FormEnum.Form_Status.NoApply || Model.vw_FormQueryList[i].FormStatusCode == cns.Services.Enum.FormEnum.Form_Status.Reject)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @if (Model.vw_FormQueryList[i].ApplyDate.Year != 1)
                                                        {
                                                            @Model.vw_FormQueryList[i].ApplyDate.ToString("yyyy/MM/dd")<br>
                                                            @Model.vw_FormQueryList[i].ApplyDate.ToString("HH:mm:ss")
                                                        }
                                                    </td>
                                                }
                                                <td>@Model.vw_FormQueryList[i].CompCode</td>
                                                <td>@Model.vw_FormQueryList[i].BUCode</td>
                                                <td>@Model.vw_FormQueryList[i].PCBLayoutStatus</td>
                                                <td>@Model.vw_FormQueryList[i].ProjectName</td>
                                                <td>@Model.vw_FormQueryList[i].BoardTypeName</td>
                                                <td>@Model.vw_FormQueryList[i].Revision</td>
                                                <td>
                                                    @Model.vw_FormQueryList[i].PDC_MemberName
                                                </td>

                                                @if (Model.vw_FormQueryList[i].FormStatusCode == cns.Services.Enum.FormEnum.Form_Status.Release)
                                                {
                                                    <td>@Model.vw_FormQueryList[i].StageName</td>
                                                    <td>
                                                        @(Model.vw_FormQueryList[i].StageDate.HasValue ? Model.vw_FormQueryList[i].StageDate.Value.ToString("yyyy/MM/dd") : "")
                                                        <br />
                                                        @(Model.vw_FormQueryList[i].StageDate.HasValue ? Model.vw_FormQueryList[i].StageDate.Value.ToString("HH:mm:ss") : "")
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-title">處理回覆</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>意見</label>
                                            <textarea class="form-control" id="Result" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>處理人員</label>
                                            <select class="select2 form-control" id="Processor">
                                                @foreach (var item in Model.m_ProcessorList)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                            <input type="hidden" id="MemberID" value="@Model.MemberID" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>附件</label>
                                            <div class="custom-file mb-3">
                                                <input type="file" class="custom-file-input" id="customFile" name="filename">
                                                <label class="custom-file-label" id="customFileLabel" for="customFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        <div style="padding-top: 10px; padding-bottom: 15px; text-align: center;">
                                            <a href="#" class="btn btn-outline-warning" style=" padding: 4px 25px;" id="mail-compose" onclick="WorkDesign(true)">Assign</a>
                                            <a href="#" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose" onclick="WorkDesign(false)">Reject</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main -->
    </div>

</div>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
    <style>
        input[type="text"]:disabled {
            background: gray;
        }

        input[type="radio"]:disabled {
            background: gray;
        }

        select:disabled {
            background: gray;
        }
    </style>
}

@section Scripts {
    <!-- datatable Js -->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SearchDate_Start').datepicker({ dateFormat: 'yy-mm-dd' });
            $('#SearchDate_End').datepicker({ dateFormat: 'yy-mm-dd' });
        });

        $('input[id=customFile]').change(function () {
                $('#customFileLabel').text($(this).val());
        });

        function WorkDesign(IsAssign) {
            if ($('#Result').val() == "") {
                alert("請輸入意見");
                return;
            }

            if ($('#grid > tbody > tr').find('input[type=checkbox]:checked').length == 0) {
                if(IsAssign)
                    alert("請選擇要Assign的申請單");
                else
                    alert("請選擇要Reject的申請單");

                return;
            }

            $('body').removeClass('no-loader');

            var FromNoArray = "";

            $.each($('#grid > tbody > tr').find('input[type=checkbox]:checked'), function (index, row) {
                var FromNovalue = $(this).val();
                FromNoArray += FromNovalue + ",";
            }); 

            var formData = new FormData();
            formData.append('FromNoArray', FromNoArray);
            formData.append('IsAssign',  IsAssign);
            formData.append('PDC_Member',  $('#Processor').val());
            formData.append('Result',  $('#Result').val());
            if ($('#customFile').length) {
                formData.append('file', $('#customFile')[0].files[0]);
            }

            var _url = '@Url.Action("WorkDesign", "Work")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                    }
                    else {
                        if (result.IsSingle) {
                            if ($('#MemberID').val() == result.CreaterID) {
                                if (confirm("是否直接進入處理畫面")) {
                                    var Path = "@Url.Action("WorkDetail", "Work")/?AppliedFormNo=" + result.FormNo;
                                    window.location.href = Path;
                                }
                            }
                        }

                        $('#SearchApply').trigger('click');
                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    $('body').addClass('no-loader');
                }
            });

        }
    </script>
}