@model m_WorkDetailPartial
@{
    ViewData["Title"] = "Work Detail 工作明細";
}

<div class="page-content">
    <div class="page-info container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Work Detail 工作明細</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-wrapper container">
        <!-- 表頭 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">表單資訊</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>申請單編號</label>
                                    <input type="text" class="form-control" placeholder="@Model.m_PDC_Form.AppliedFormNo" disabled="disabled">
                                    <input type="hidden" id="FormID" value="@Model.m_PDC_Form.FormID" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>申請日期</label>
                                    <input type="text" class="form-control" placeholder="@Model.m_PDC_Form.ApplyDate" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>公司別</label>
                                    <input type="text" class="form-control" placeholder="@Model.m_PDC_Form.CompCode" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>部門</label>
                                    <input type="text" class="form-control" placeholder="@Model.m_PDC_Form.BUCode" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>申請者</label>
                                    <input type="text" class="form-control" placeholder="@Model.m_PDC_Form.CreatorName" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PCB Layout Status</label>
                                    <input type="text" class="form-control" value="@Model.PCBLayoutStatusList.Where(x=>x.Value == Model.m_PDC_Form.PCBLayoutStatus).FirstOrDefault().Text" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PCB Type</label>
                                    <input type="text" class="form-control" value="@Model.PCBTypeList.Where(x=>x.Value == Model.m_PDC_Form.PCBType).SingleOrDefault().Text" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Project</label>
                                    <input type="text" class="form-control" placeholder="@Model.m_PDC_Form.ProjectName" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Board Type</label>
                                    <input type="text" class="form-control" placeholder="@Model.m_PDC_Form.BoardTypeName" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Rev.</label>
                                    <input type="text" class="form-control" placeholder="@Model.m_PDC_Form.Revision" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Constraint Files</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <span>1. BRD 壓縮檔(限制Zip格式)</span>
                                </div>
                                <div class="col-md-3">
                                    @*<a href="#">XV1U-brd.zip (2020/10/23)</a>*@
                                    @if (Model.m_BRDFile != null)
                                    {
                                        var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_BRDFile.FileID;
                                        <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_BRDFile.FileName (@Model.m_BRDFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                    }
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>2. Constraint Excel</span>
                                </div>
                                <div class="col-md-3">
                                    @*<a href="#">XV1U-cns.xlsx (2020/10/23)</a>*@
                                    @if (Model.m_ExcelFile != null)
                                    {
                                        var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_ExcelFile.FileID;
                                        <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_ExcelFile.FileName (@Model.m_ExcelFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                    }
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>3. pstchip.dat</span>
                                </div>
                                <div class="col-md-3">
                                    @*<a href="#">pstchip.dat (2020/10/23)</a>*@
                                    @if (Model.m_pstchipFile != null)
                                    {
                                        var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_pstchipFile.FileID;
                                        <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_pstchipFile.FileName (@Model.m_pstchipFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                    }
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>4. pstxnet.dat</span>
                                </div>
                                <div class="col-md-3">
                                    @*<a href="#">pstxnet.dat (2020/10/23)</a>*@
                                    @if (Model.m_pstxnetFile != null)
                                    {
                                        var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_pstxnetFile.FileID;
                                        <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_pstxnetFile.FileName (@Model.m_pstxnetFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                    }
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>5. pstxprt.dat</span>
                                </div>
                                <div class="col-md-3">
                                    @*<a href="#">pstxprt.dat (2020/10/23)</a>*@
                                    @if (Model.m_pstxprtFile != null)
                                    {
                                        var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_pstxprtFile.FileID;
                                        <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_pstxprtFile.FileName (@Model.m_pstxprtFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                    }
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>6. 其他檔案</span>
                                </div>
                                <div class="col-md-3" style="padding-bottom: 10px;">
                                    @*<li>
                                        <a href="#">ChangeLog.xlsx (2020/10/23)</a>

                                    </li>
                                    <li>
                                        <a href="#">Kickoff.msg (2020/10/23)</a>

                                    </li>*@
                                    @if (Model.m_OtherFileList != null)
                                    {
                                        for (int i = 0; i <= Model.m_OtherFileList.Count - 1; i++)
                                        {
                                            var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_OtherFileList[i].FileID;
                                            <li>
                                                <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_OtherFileList[i].FileName (@Model.m_OtherFileList[i].CreatorDate.ToString("yyyy/MM/dd"))</a>
                                            </li>
                                        }
                                    }
                                </div>
                                <div class="col-md-2">
                                    <a href="javascript:return false;" class="btn btn-outline-warning" style=" padding: 4px 25px;" onclick="window.location.href='@Url.Action("DownloadFileZip", "Work")/?FormID=@Model.m_PDC_Form.FormID'" id="mail-compose">全部下載</a>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-3">
                                    <span>意見</span>
                                </div>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">增加減 Region</textarea>
                                </div>
                                <div class="col-md-3">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                            增加減 Region
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">增加減 TP、VIA</a>
                                        <a href="#" class="list-group-item list-group-item-action">其他</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose">暫存</a>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="padding-bottom: 0px;">
                        <p class="card-title">Stackup</p>
                        <div class="row align-items-end">
                            <div class="col-md-10">
                                <button class="btn btn-outline-success" onclick="GridShow(this)" id="showLayer">隱藏疊構</button>
                            </div>
                            <div class="col-md-1" style="text-align: center;">
                                <br>unit: mil
                            </div>
                            <div class="col-md-1" style="text-align: center;">
                                總板厚<br><label id="ThicknessTotal">0.00</label>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover" id="grid">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" style="width: 5%;">層別<br />(LAYER)</th>
                                        <th scope="col" style="width: 15%;">LAYOUT疊構<br />(Stack up Type)</th>
                                        <th scope="col" style="width: 10%;">名稱<br />（NAME）</th>
                                        <th scope="col" style="width: 20%;">代碼<br /> (NAME CODE)</th>
                                        <th scope="col" style="width: 10%;">線寬<br />(LINE WIDTH)</th>
                                        <th scope="col" style="width: 10%;">間距<br />(SPACING)</th>
                                        <th scope="col" style="width: 15%;">PCB疊構<br />(Stack up)</th>
                                        <th scope="col" style="width: 10%;">板厚<br />(Thickness)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i <= Model.ExcelDt.Rows.Count - 1; i++)
                                    {

                                        <tr @(Model.ExcelDt.Rows[i][1].ToString() == "Dielectric" ? "class=SecondRow" : "")>
                                            <td>@Model.ExcelDt.Rows[i][0]</td>
                                            <td>@Model.ExcelDt.Rows[i][1]</td>
                                            <td>@Model.ExcelDt.Rows[i][2]</td>
                                            <td>@Model.ExcelDt.Rows[i][3]</td>
                                            <td class="checkNum">@Model.ExcelDt.Rows[i][4]</td>
                                            <td class="checkNum">@Model.ExcelDt.Rows[i][5]</td>
                                            <td>@Model.ExcelDt.Rows[i][6]</td>
                                            <td>@Model.ExcelDt.Rows[i][7]</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- 檢核結果 -->
                        <!--
                    <div class="card-body">
                        <p class="card-title">檢核結果</p>
                        <div class="row">
                            <div class="col-md-8">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Failed，錯誤訊息(xxxxx)</textarea>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-light" style=" padding: 4px 25px;" id="mail-compose">下載錯誤明細</a>
                                <a href="#" class="btn btn-warning" style=" padding: 4px 25px;" id="mail-compose">送出申請</a>
                                <a href="#" class="btn btn-info" style=" padding: 4px 25px;" id="mail-compose">抽單</a>
                            </div>
                        </div>
                    </div>
                    -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="ConfigurationWorkDetail" style="display:none">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="padding-bottom: 0px;">
                        @if (Model.m_ConfigurationWorkDetailFile != null)
                        {
                            string Path = "~/FileUpload/" + Model.m_ConfigurationWorkDetailFile.FileFullName;
                            <img src="@Url.Content(Path)" class="img-fluid" asp-append-version="true" />
                        }
                        <input type="hidden" id="ConfigurationWorkDetailCategory" value="@Model.m_ConfigurationWorkDetail.ParameterText" />
                        <input type="hidden" id="ConfigurationWorkDetailValue" value="@Model.m_ConfigurationWorkDetail.ParameterValue" />
                        <input type="hidden" value="" />
                    </div>
                </div>
            </div>
        </div>
        <!-- 表單紀錄 -->
        @if (!Model.IsReadOnly)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">審查作業</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <ul class="nav nav-pills card-header-tabs " role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#tab-release" role="tab">Release</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#tab-reject" role="tab">Reject</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content" id="myTabContent">
                                                <!-- Release -->
                                                <div class="tab-pane fade show active" id="tab-release" role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <!-- <p class="card-title">新增人員</p> -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>處理人員</label>
                                                                        <input type="text" class="form-control" value="@(Model.Member.UserEngName + "(" + Model.Member.UserName + ")")" disabled="disabled">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>*紀錄工時</label>
                                                                        <input type="text" class="form-control" id="ReleaseHour" value="@Model.m_ReleaseWorkHour.ParameterText">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <span>1. 上傳 *.dcfx</span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="custom-file mb-3">
                                                                        <input type="file" class="custom-file-input" id="ReleaseDcfFile" name="filename" accept=".dcf,.dcfx">
                                                                        <label class="custom-file-label" id="ReleaseDcfFileLabel" for="ReleaseDcfFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5" id="ReleaseDcfFileDiv">
                                                                    @*<a href="#">pstxnet.dat (2020/10/23)</a>
                                                                    <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>*@
                                                                    @*@if (Model.m_ReleaseDcfFile != null)
                                                                    {
                                                                        var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_ReleaseDcfFile.FileID;
                                                                        <div>
                                                                            <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_ReleaseDcfFile.FileName (@Model.m_ReleaseDcfFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                                                            <a href="javascript:return false;" onclick="FileDelete(@Model.m_ReleaseDcfFile.FileID,this)" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                                                            <input type="hidden" asp-for="m_ReleaseDcfFile.FileID" />
                                                                        </div>
                                                                    }*@
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <span>2. 其它</span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="custom-file mb-3">
                                                                        <input type="file" class="custom-file-input" id="UplpadReleaseOtherFile" name="filename">
                                                                        <label class="custom-file-label" for="UplpadReleaseOtherFile" id="UplpadReleaseOtherFileLabel" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3" style="padding-bottom: 10px;" id="UplpadReleaseOtherFileDiv">
                                                                    @*<li>
                                                                        <a href="#">ChangeLog.xlsx (2020/10/23)</a>
                                                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Kickoff.msg (2020/10/23)</a>
                                                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                                                    </li>*@
                                                                    
                                                                </div>
                                                                <div class="col-md-2">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <span>意見</span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <textarea class="form-control" id="ReleaseResult" rows="3"></textarea>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="list-group">
                                                                        @foreach (var item in Model.ReleaseResultList)
                                                                        {
                                                                            <a href="javascript:return false;" onclick="SetResult(this,'ReleaseResult')" class="list-group-item list-group-item-action active" aria-current="true">@item.ParameterText</a>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <a href="javascript:return false;" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose" onclick="Release()">Release</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Reject -->
                                                <div class="tab-pane fade" id="tab-reject" role="tabpanel" aria-labelledby="contact-tab">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <!-- <p class="card-title">新增人員</p> -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>處理人員</label>
                                                                        <input type="text" class="form-control" value="@(Model.Member.UserEngName + "(" + Model.Member.UserName + ")")" disabled="disabled">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>*紀錄工時</label>
                                                                        <input type="text" class="form-control" value="@Model.m_RejectWorkHour.ParameterText" id="RejectHour">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <span>1. Reject Files</span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="custom-file mb-3">
                                                                        <input type="file" class="custom-file-input" id="UplpadRejectOtherFile" name="filename">
                                                                        <label class="custom-file-label" id="UplpadRejectOtherFileLabel" for="UplpadRejectOtherFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3" style="padding-bottom: 10px;" id="UplpadRejectOtherFileDiv">
                                                                    @*<li>
                                                                        <a href="#">ChangeLog.xlsx (2020/10/23)</a>
                                                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Kickoff.msg (2020/10/23)</a>
                                                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                                                    </li>*@
                                                                </div>
                                                                <div class="col-md-2">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <span>意見</span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <textarea class="form-control" id="RejectResult" rows="3"></textarea>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="list-group">
                                                                        @foreach (var item in Model.RejectResultList)
                                                                        {
                                                                            <a href="javascript:return false;" onclick="SetResult(this,'RejectResult')" class="list-group-item list-group-item-action active" aria-current="true">@item.ParameterText</a>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <a href="javascript:return false;" class="btn btn-outline-danger" style=" padding: 4px 25px;" id="mail-compose" onclick="Reject()">Reject</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- End of Main -->
    </div>

</div>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
    <style>
        input[type="text"]:disabled {
            background: gray;
        }

        input[type="radio"]:disabled {
            background: gray;
        }

        select:disabled {
            background: gray;
        }
    </style>
}

@section Scripts {
    <!-- datatable Js -->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#showLayer').trigger('click');

            $('input[id=ReleaseDcfFile]').change(function () {

                $('body').removeClass('no-loader');
                 var OldFileID = 0;
                if ($('#ReleaseDcfFileDiv').find('input:eq(0)').length)
                    OldFileID = $('#ReleaseDcfFileDiv').find('input:eq(0)').val();

                uploadFile("ReleaseDcfFile",".dcf","m_ReleaseDcfFile", OldFileID);
            });

            $('input[id=UplpadReleaseOtherFile]').change(function () {

                $('body').removeClass('no-loader');

                uploadFile("UplpadReleaseOtherFile","","m_ReleaseOtherFileList", 0);
            });

            $('input[id=UplpadRejectOtherFile]').change(function () {

                $('body').removeClass('no-loader');

                uploadFile("UplpadRejectOtherFile","","m_RejectOtherFileList", 0);
            });

            GetTotal();

            CheckWorkDetail();
        });

        function CheckWorkDetail() {
            //取得規則
            var WorkDetailCategory = $('#ConfigurationWorkDetailCategory').val();
            var WorkDetailValue = parseFloat($('#ConfigurationWorkDetailValue').val());
            var IsCheck = true;

            $.each($('.checkNum'), function (index, row) {
                var value = $(this).text();
                if ($.isNumeric(value))
                {
                    //有設定才檢查
                    if (WorkDetailCategory && WorkDetailValue) {
                        if (WorkDetailCategory == "1") {
                            if (parseFloat(value) <= WorkDetailValue)
                                IsCheck = false;
                        }

                        if (WorkDetailCategory == "2") {
                            if (parseFloat(value) < WorkDetailValue)
                                IsCheck = false;
                        }

                        if (WorkDetailCategory == "3") {
                            if (parseFloat(value) = WorkDetailValue)
                                IsCheck = false;
                        }

                        if (WorkDetailCategory == "4") {
                            if (parseFloat(value) > WorkDetailValue)
                                IsCheck = false;
                        }

                        if (WorkDetailCategory == "5") {
                            if (parseFloat(value) >= WorkDetailValue)
                                IsCheck = false;
                        }
                    }
                }
            });

            if (!IsCheck) {
                $('#ConfigurationWorkDetail').show();
            }
        }

        //計算總版厚
        function GetTotal() {
            var Sum = 0.00;
            
            $.each($('#grid > tbody > tr'), function (index, row) {
                var value = $(this).find('td').last().text();
                if ($.isNumeric(value))
                {
                    Sum += Number(value);
                }
            });
            $('#ThicknessTotal').text(Sum.toFixed(2));
        }

        var IsShow = true;
        function GridShow(obj) {
            if (IsShow) {
                $(obj).text('顯示疊構');
                $('.SecondRow').hide();
                IsShow = false;
            }
            else {
                $(obj).text('隱藏疊構');
                $('.SecondRow').show();
                IsShow = true;
            }
        }

        //意見快捷鍵
        function SetResult(obj,name) {
            $('#' + name).val($(obj).text());
            $('.list-group-item').removeClass('active');
            $(obj).addClass('active');
        }
        //Release
        function Release() {
            if (!$('#ReleaseDcfFileDiv').find('input:eq(0)').length) {
                alert("請上傳.dcf/.dcfx檔案");
                return;
            }

            if (!$.isNumeric($('#ReleaseHour').val())) {
                alert("紀錄工時請輸入數字");
                return;
            }

            $('body').removeClass('no-loader');

            var ReleaseOtherFileArray = "";

            $.each($('#UplpadReleaseOtherFileDiv').find('input[type=hidden]'), function (index, row) {
                var ReleaseOtherFileID = $(this).val();
                ReleaseOtherFileArray += ReleaseOtherFileID + ",";
            }); 

            var formData = new FormData();
            formData.append('DcfFileID', $('#ReleaseDcfFileDiv').find('input:eq(0)').val());
            formData.append('ReleaseHour',  $('#ReleaseHour').val());
            formData.append('ReleaseOtherFileArray',  ReleaseOtherFileArray);
            formData.append('Result',  $('#ReleaseResult').val());
            formData.append('FormID',  $('#FormID').val());

            var _url = '@Url.Action("WorkRelease", "Work")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                    }
                    else if (result.status == "401") {
                        alert(result.ErrorMessage);
                        window.location.href = '@Url.Action("WorkArea", "Work")';
                    }
                    else {
                        alert("Release成功");

                        window.location.href = '@Url.Action("WorkArea", "Work")';
                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    $('body').addClass('no-loader');
                }
            });

        }

        //Reject
        function Reject() {
            if (!$.isNumeric($('#RejectHour').val())) {
                alert("紀錄工時請輸入數字");
                return;
            }

            $('body').removeClass('no-loader');

            var RejectOtherFileArray = "";

            $.each($('#UplpadRejectOtherFileDiv').find('input[type=hidden]'), function (index, row) {
                var RejectOtherFileID = $(this).val();
                RejectOtherFileArray += RejectOtherFileID + ",";
            }); 

            var formData = new FormData();
            formData.append('RejectHour',  $('#RejectHour').val());
            formData.append('RejectOtherFileArray',  RejectOtherFileArray);
            formData.append('Result',  $('#RejectResult').val());
            formData.append('FormID',  $('#FormID').val());

            var _url = '@Url.Action("WorkReject", "Work")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                    }
                    else if (result.status == "401") {
                        alert(result.ErrorMessage);
                        window.location.href = '@Url.Action("WorkArea", "Work")';
                    }
                    else {
                        alert("Reject成功");

                        window.location.href = '@Url.Action("WorkArea", "Work")';
                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    $('body').addClass('no-loader');
                }
            });

        }
        //上傳檔案
        function uploadFile(type, Extension, model, OldFileID) {
            if ($('#' + type)[0].files[0]) {
                 $('#' + type + 'Label').val($('#'+ type)[0].files[0].name);
            }

            var formData = new FormData();
            formData.append('file', $('#' + type)[0].files[0]);
            formData.append('Extension', Extension);
            formData.append('type', type);
            formData.append('GUID', $('#GUID').val());
            formData.append('OldFileID', OldFileID);

            var _url = '@Url.Action("UploadFile", "Work")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                        $('#' + type).val('');
                    }
                    else {
                        if (type == "UplpadReleaseOtherFile") {
                            var date = new Date(result.CreatorDate);
                            var Count = $('#' + type + 'Div').find("input").length;
                            var Html = "<li><a href=\"javascript:return false;\" onclick=\"window.location.href='/Form/Download/?FileID="+ result.FileID +"'\">"+result.FileName + " ("+ date.getFullYear().toString() + "/" + (date.getMonth() + 1).toString()  + "/" + date.getDate().toString() +")</a>";
                            Html += " <a href=\"javascript:return false;\" onclick=\"FileDelete(" + result.FileID + ")\" alt=\"刪除\"><i style=\"color: #f05154;\" class=\"fas fa-trash-alt\"></i></a>";
                            Html += "<input type=\"hidden\" data-val=\"true\" data-val-required=\"The FileID field is required.\" id=\"" + model + "_" + Count + "__FileID\" name=\"" + model + "[" + Count + "].FileID\" value=\"" + result.FileID + "\"></li>";
                            $('#' + type + 'Div').append(Html);
                        }
                        else if (type == "ReleaseDcfFile") {
                            var date = new Date(result.CreatorDate);

                            var Html = "<div><a href=\"javascript:return false;\" onclick=\"window.location.href='/Form/Download/?FileID="+ result.FileID +"'\">"+result.FileName + " ("+ date.getFullYear().toString() + "/" + (date.getMonth() + 1).toString()  + "/" + date.getDate().toString() +")</a>";
                            Html += " <a href=\"javascript:return false;\" onclick=\"FileDelete(" + result.FileID + ")\" alt=\"刪除\"><i style=\"color: #f05154;\" class=\"fas fa-trash-alt\"></i></a>";
                            Html += "<input type=\"hidden\" data-val=\"true\" data-val-required=\"The FileID field is required.\" id=\""+ model +"_FileID\" name=\""+ model +".FileID\" value=\"" + result.FileID + "\"></div>";
                            $('#' + type + 'Div').html(Html);
                        }
                        else {
                            var date = new Date(result.CreatorDate);
                            var Count = $('#' + type + 'Div').find("input").length;
                            var Html = "<li><a href=\"javascript:return false;\" onclick=\"window.location.href='/Form/Download/?FileID="+ result.FileID +"'\">"+result.FileName + " ("+ date.getFullYear().toString() + "/" + (date.getMonth() + 1).toString()  + "/" + date.getDate().toString() +")</a>";
                            Html += " <a href=\"javascript:return false;\" onclick=\"FileDelete(" + result.FileID + ")\" alt=\"刪除\"><i style=\"color: #f05154;\" class=\"fas fa-trash-alt\"></i></a>";
                            Html += "<input type=\"hidden\" data-val=\"true\" data-val-required=\"The FileID field is required.\" id=\"" + model + "_" + Count + "__FileID\" name=\"" + model + "[" + Count + "].FileID\" value=\"" + result.FileID + "\"></li>";
                            $('#' + type + 'Div').append(Html);
                        }

                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    //$('#' + type).val('');
                    $('#' + type + 'Label').text('Choose file');
                    $('body').addClass('no-loader');
                }
            });
        }
        //刪除檔案
        function FileDelete(FileID,obj) {
            $('body').removeClass('no-loader');

            var formData = new FormData();
            formData.append('FileID', FileID);

            var _url = '@Url.Action("FileDelete", "Form")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                    }
                    else {
                        $(obj).parent().remove();

                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    $('body').addClass('no-loader');
                }
            });
        }
    </script>
}