@model m_FormPartial
@{
    ViewData["Title"] = "表單資訊"; 
}

<div class="page-content">
    <div class="page-info container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">表單申請</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class"row"="">
            <span style="color: #ffc107;">*功能仍在開發階段，尚未開放測試。</span>
        </div>
    </div>
    <div class="main-wrapper container">
        <!-- 表頭 -->
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="FormApply" enctype="multipart/form-data">
                    @*<div asp-validation-summary="All"></div>*@
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">@ViewData["Title"]</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>申請單編號</label>
                                        <input type="text" class="form-control" asp-for="m_PDC_Form.AppliedFormNo"  disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>申請日期</label>
                                        <input type="text" class="form-control" disabled="disabled" asp-for="m_PDC_Form.CreatorDate" value="@Model.m_PDC_Form.CreatorDate.ToString("yyyy/MM/dd HH:mm:ss")">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>申請單狀態</label>
                                        <input type="text" class="form-control" asp-for="m_PDC_Form.FormStatus" value="未送件" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>公司別</label>
                                        <input type="text" class="form-control" asp-for="m_PDC_Form.CompCode" value="QCI">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>事業群</label>
                                        <input type="text" class="form-control" asp-for="m_PDC_Form.BUCode" value="BU_Test">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>申請者</label>
                                        <input type="email" class="form-control" asp-for="m_PDC_Form.ApplierID" value="TestUser" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PCB Layout Status</label>
                                        <select class="select2 form-control" asp-for="m_PDC_Form.PCBLayoutStatus" disabled="disabled">
                                            <option value="New">New</option>
                                            <option value="RFQ">RFQ</option>
                                            <option value="Modify">Modify</option>
                                        </select>
                                        @*<input type="email" class="form-control" value="New" placeholder="New/RFQ/Modify" disabled="disabled">*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>是否為MB</label>
                                        <div class="input-group">
                                            <div class="custom-control custom-radio" >
                                                <input class="custom-control-input" asp-for="m_PDC_Form.IsMB" id="IsMBYes" type="radio"  value="true" >
                                                <label class="custom-control-label" for="exampleRadios3" style="padding-right: 10px;" onclick="ClickMB('IsMBYes')">
                                                    MB
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio" >
                                                <input class="custom-control-input" asp-for="m_PDC_Form.IsMB" id="IsMBNo" type="radio"  value="false" >
                                                <label class="custom-control-label" for="exampleRadios3" onclick="ClickMB('IsMBNo')">
                                                    其他
                                                </label>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span asp-validation-for="m_PDC_Form.IsMB" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PCB Type</label>
                                        @*<input type="email" class="form-control" placeholder="Non-HDI/HDI/Anylayer/FPC/Rigid-flex" disabled="disabled">*@
                                        <select class="select2 form-control" asp-for="m_PDC_Form.PCBType">
                                            <option value="Non-HDI">Non-HDI</option>
                                            <option value="HDI">HDI</option>
                                            <option value="Anylayer">Anylayer</option>
                                            <option value="FPC">FPC</option>
                                            <option value="Rigid-flex">Rigid-flex</option>
                                        </select>
                                        <div class="input-group">
                                            <span asp-validation-for="m_PDC_Form.PCBType" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Project</label>
                                        <input type="email" asp-for="m_PDC_Form.ProjectName" class="form-control">
                                        <div class="input-group">
                                            <span asp-validation-for="m_PDC_Form.ProjectName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Board Type</label>
                                        <input type="email" asp-for="m_PDC_Form.BoardTypeName" class="form-control">
                                        <div class="input-group">
                                            <span asp-validation-for="m_PDC_Form.BoardTypeName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rev.</label>
                                        <input type="email" asp-for="m_PDC_Form.Revision" class="form-control">
                                        <div class="input-group">
                                            <span asp-validation-for="m_PDC_Form.Revision" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title">Constraint Files</p>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>1. BRD 壓縮檔(限制Zip格式)</span>
                                        <div>
                                            <span asp-validation-for="m_UplpadBRDFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-file mb-3">
                                            <input type="file" asp-for="m_UplpadBRDFile" class="custom-file-input" id="UplpadBRDFile">
                                            <label id="UplpadBRDFileLabel" class="custom-file-label" for="UplpadBRDFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.m_BRDFile != null)
                                        {
                                            var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_BRDFile.FileID;
                                            <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_BRDFile.FileName (@Model.m_BRDFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                            <a href="javascript:return false;" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                        }
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>2. Constraint Excel</span>
                                        <div>
                                            <span asp-validation-for="m_UplpadExcelFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-file mb-3">
                                            <input type="file" asp-for="m_UplpadExcelFile" class="custom-file-input" id="UplpadExcelFile">
                                            <label id="UplpadExcelFileLabel" class="custom-file-label" for="UplpadExcelFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.m_ExcelFile != null)
                                        {
                                            var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_ExcelFile.FileID;
                                            <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_ExcelFile.FileName (@Model.m_ExcelFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                            <a href="javascript:return false;" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                        }
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose">開啟線上編輯</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>3. pstchip.dat</span>
                                        <div>
                                            <span asp-validation-for="m_UplpadpstchipFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-file mb-3">
                                            <input type="file" asp-for="m_UplpadpstchipFile" class="custom-file-input" id="UplpadpstchipFile">
                                            <label id="UplpadpstchipFileLabel" class="custom-file-label" for="UplpadpstchipFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.m_pstchipFile != null)
                                        {
                                            var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_pstchipFile.FileID;
                                            <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_pstchipFile.FileName (@Model.m_pstchipFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                            <a href="javascript:return false;" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                        }
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>4. pstxnet.dat</span>
                                        <div>
                                            <span asp-validation-for="m_UplpadpstxnetFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-file mb-3">
                                            <input type="file" asp-for="m_UplpadpstxnetFile" class="custom-file-input" id="UplpadpstxnetFile">
                                            <label id="UplpadpstxnetFileLabel" class="custom-file-label" for="UplpadpstxnetFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.m_pstxnetFile != null)
                                        {
                                            var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_pstxnetFile.FileID;
                                            <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_pstxnetFile.FileName (@Model.m_pstxnetFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                            <a href="javascript:return false;" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                        }
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>5. pstxprt.dat</span>
                                        <div>
                                            <span asp-validation-for="m_UplpadpstxprtFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-file mb-3">
                                            <input type="file" asp-for="m_UplpadpstxprtFile" class="custom-file-input" id="UplpadpstxprtFile">
                                            <label id="UplpadpstxprtFileLabel" class="custom-file-label" for="UplpadpstxprtFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.m_pstxprtFile != null)
                                        {
                                            var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_pstxprtFile.FileID;
                                            <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_pstxprtFile.FileName (@Model.m_pstxprtFile.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                            <a href="javascript:return false;" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                        }
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>6. 其他檔案</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-file mb-3">
                                            <input type="file" asp-for="m_UplpadOtherFile" class="custom-file-input" id="UplpadOtherFile">
                                            <label id="UplpadOtherFileLabel" class="custom-file-label" for="UplpadOtherFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="padding-bottom: 10px;">
                                        @if (Model.m_Other != null)
                                        {
                                            var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + Model.m_Other.FileID;
                                            <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@Model.m_Other.FileName (@Model.m_Other.CreatorDate.ToString("yyyy/MM/dd"))</a>
                                            <a href="javascript:return false;" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                        }
                                        @*<li>
            <a href="#">ChangeLog.xlsx (2020/10/23)</a>
            <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
        </li>
        <li>
            <a href="#">Kickoff.msg (2020/10/23)</a>
            <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
        </li>*@
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>意見</span>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">增加減 Region</textarea>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                                增加減 Region
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">增加減 TP、VIA</a>
                                            <a href="#" class="list-group-item list-group-item-action">其他</a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        @*<a href="javascript:return false;" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose">暫存</a>*@
                                        <button type="submit" class="btn btn-outline-success" style=" padding: 4px 25px;">暫存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="padding-bottom: 0px;">
                        <p class="card-title">Stackup</p>
                        <div class="row align-items-end">
                            <div class="col-md-10">
                                <span style="color: #ffc107;">*請務必使用最新版範本</span>
                            </div>
                            <div class="col-md-1" style="text-align: center;">
                                <br>unit: mil
                            </div>
                            <div class="col-md-1"  style="text-align: center;">
                                總板厚<br><label id="ThicknessTotal">0.00</label>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover" id="grid">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" style="width: 5%;">Layer</th>
                                        <th scope="col" style="width: 15%;">疊構類別</th>
                                        <th scope="col" style="width: 10%;">Name</th>
                                        <th scope="col" style="width: 20%;">HIGH SPEED GROUP NAME</th>
                                        <th scope="col" style="width: 10%;">線寬</th>
                                        <th scope="col" style="width: 10%;">間距</th>
                                        <th scope="col" style="width: 15%;">疊構</th>
                                        <th scope="col" style="width: 10%;">板厚</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i <= Model.ExcelDt.Rows.Count - 1; i++)
                                    {
                                    <tr>
                                        <td>@Model.ExcelDt.Rows[i][0]</td>
                                        <td>@Model.ExcelDt.Rows[i][1]</td>
                                        <td>@Model.ExcelDt.Rows[i][2]</td>
                                        <td>@Model.ExcelDt.Rows[i][3]</td>
                                        <td>@Model.ExcelDt.Rows[i][4]</td>
                                        <td>@Model.ExcelDt.Rows[i][5]</td>
                                        <td>@Model.ExcelDt.Rows[i][6]</td>
                                        <td>@Model.ExcelDt.Rows[i][7]</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <p class="card-title">Stackup 檢測</p>
                            <div class="row">
                                <div class="col-md-8">
                                    <textarea class="form-control" id="ErrorMsg" rows="3" disabled="disabled">@(Model.ErrorMsg ?? "驗證成功!")</textarea>
                                </div>
                                <div class="col-md-4">
                                    <a href="javascript:window.open('@Url.Action("ExcelEdit", "Excel")')" class="btn btn-outline-success" style=" padding: 4px 25px; display:none" id="OpenOnlineEdit">開啟線上編輯</a>
                                    @*<a href="#" class="btn btn-outline-warning" style=" padding: 4px 25px;" id="mail-compose">執行檢測</a>*@
                                    <br />
                                    <br />
                                    <a href="javascript:return false;" class="btn btn-outline-danger" style=" padding: 4px 25px;display:none" id="downloadError">下載錯誤明細</a>
                                    <a href="javascript:return false;" class="btn btn-outline-warning" style=" padding: 4px 25px;display:none" id="SendApply">送出申請</a>
                                    @*<a href="javascript:return false;" class="btn btn-outline-info" style=" padding: 4px 25px;display:none" id="disApply">抽單</a>*@
                                </div>
                            </div>
                        </div>
                        @*<div class="card-body">
                            <p class="card-title">檢核結果</p>
                            <div class="row">
                                <div class="col-md-8">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Failed，錯誤訊息(xxxxx)</textarea>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-outline-danger" style=" padding: 4px 25px;" id="mail-compose">下載錯誤明細</a>
                                    <a href="#" class="btn btn-outline-warning" style=" padding: 4px 25px;" id="mail-compose">送出申請</a>
                                    <a href="#" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose">抽單</a>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- PDC 處理結果 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">PDC 處理結果</p>
                        <div class="row">
                            <div class="col-md-4">
                                <label>處理人員</label>
                                <input type="email" class="form-control" placeholder="Roger Chao(趙偉智)/ #10370" disabled="disabled">
                            </div>
                            <div class="col-md-4">
                                <label>處理結果</label>
                                <input type="email" class="form-control" placeholder="Release" disabled="disabled">
                            </div>
                            <div class="col-md-4">
                                <label>簽核時間</label>
                                <input type="email" class="form-control" placeholder="2020/11/03 15:30" disabled="disabled">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>簽核意見</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">請參考附檔</textarea>
                            </div>
                            <div class="col-md-4">
                                <label>附件</label>
                                <ul>
                                    <li>
                                        <a href="#">XV1U_A.docx</a>
                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">補充說明.txt</a>
                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 表單紀錄 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">表單紀錄</p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" style="width: 5%;">序號</th>
                                        <th scope="col" style="width: 15%;">處理者</th>
                                        <th scope="col" style="width: 10%;">關卡</th>
                                        <th scope="col" style="width: 20%;">處理意見</th>
                                        <th scope="col" style="width: 10%;">附件</th>
                                        <th scope="col" style="width: 10%;">處理時間</th>
                                    </tr>
                                </thead>
                                <tbody class="thead-dark">
                                    @for (int i = Model.PDC_Form_StageLogList.Count; i > 0; i--)
                                    {
                                    <tr>
                                        <td>@i</td>
                                        <td>@Model.PDC_Form_StageLogList[(i - 1)].CreatorName</td>
                                        <td>@Model.PDC_Form_StageLogList[(i - 1)].StageName</td>
                                        <td>@Model.PDC_Form_StageLogList[(i - 1)].Result</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                @foreach (PDC_File item in Model.PDC_Form_StageLogFileList.Where(x => x.SourceID == Model.PDC_Form_StageLogList[(i - 1)].StageLogID))
                                                {
                                                    var DownloadPath = Url.Action("Download", "Form") + "/?FileID=" + item.FileID;
                                                    <li>
                                                        <a href="javascript:return false;" onclick="window.location.href='@DownloadPath'">@item.FileName</a>
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                        <td>@Model.PDC_Form_StageLogList[(i-1)].CreatorDate.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                    </tr>
                                    }
                                    @*<tr>
                                        <td>5</td>
                                        <td>Jason</td>
                                        <td>Assign</td>
                                        <td>注意，看附圖</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">REMINDER.jpg</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/11/01 15:30</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Mike Huang (黃培碩)</td>
                                        <td>Apply</td>
                                        <td>已修正</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">BRD壓縮檔.zip</a>
                                                </li>
                                                <li>
                                                    <a href="#">CNS.xlsx</a>
                                                </li>
                                                <li>
                                                    <a href="#">pstchip.dat</a>
                                                </li>
                                                <li>
                                                    <a href="#">pstxnet.dat</a>
                                                </li>
                                                <li>
                                                    <a href="#">change_log.xlsx</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/11/01 15:30</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Roger</td>
                                        <td>Work</td>
                                        <td>疊構不符</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">截圖.jpg</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/11/01 15:30</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jason</td>
                                        <td>Assign</td>
                                        <td>注意，看附圖</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">REMINDER.jpg</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/11/01 15:30</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Mike Huang (黃培碩)</td>
                                        <td>Apply</td>
                                        <td>New</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">BRD壓縮檔.zip</a>
                                                </li>
                                                <li>
                                                    <a href="#">CNS.xlsx</a>
                                                </li>
                                                <li>
                                                    <a href="#">pstchip.dat</a>
                                                </li>
                                                <li>
                                                    <a href="#">pstxnet.dat</a>
                                                </li>
                                                <li>
                                                    <a href="#">change_log.xlsx</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/10/29 16:30</td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main -->
    </div>

</div>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
}

@section Scripts {
    <!-- datatable Js -->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: false,
                scrollX: false,
                bPaginate: false, // 顯示換頁
                ordering: false,  // 是否顯示header排序
            });
            


        });

        function ClickMB(obj) {
            $('#' + obj).trigger('click');
        }

        $('input[id=UplpadBRDFile]').change(function () {
            $('#UplpadBRDFileLabel').text($(this).val());
        });

        $('input[id=UplpadExcelFile]').change(function () {
            $('#UplpadExcelFileLabel').text($(this).val());

            $('body').removeClass('no-loader');
            uploadFile();
        });

        $('input[id=UplpadpstchipFile]').change(function () {
            $('#UplpadpstchipFileLabel').text($(this).val());
        });

        $('input[id=UplpadpstxnetFile]').change(function () {
            $('#UplpadpstxnetFileLabel').text($(this).val());
        });

        $('input[id=UplpadpstxprtFile]').change(function () {
            $('#UplpadpstxprtFileLabel').text($(this).val());
        });

        $('input[id=UplpadOtherFile]').change(function () {
            $('#UplpadOtherFileLabel').text($(this).val());
        });

        //上傳Excel
        function uploadFile() {
            
            var formData = new FormData();
            formData.append('file', $('#UplpadExcelFile')[0].files[0]); // myFile is the input type="file" control

            var _url = '@Url.Action("UploadFile", "Excel")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                        $('#UplpadExcelFileLabel').text('Choose file');
                    }
                    else {
                        //$('#grid tbody').html(result);
                        var dt = $('#grid').DataTable();
                        dt.clear().draw();

                        $.each(result, function (index, row) {
                            dt.row.add([
                                row[0]
                                , row[1]
                                , row[2]
                                , row[3]
                                , row[4]
                                , row[5]
                                , row[6]
                                , row[7]
                            ]);
                        });
                        dt.draw(false);
                        //計算總版厚
                        GetTotal();
                        //驗證
                        SaveCheckFile();

                        
                    }
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    $('#lefile').val('');
                    $('#FileID').val('');
                    $('body').addClass('no-loader');
                }
            });
        }
        //計算總版厚
        function GetTotal() {
            var Sum = 0.00;
            $.each($('#grid > tbody > tr'), function (index, row) {
                var value = $(this).find('td').last().text();
                if ($.isNumeric(value))
                {
                    Sum += Number(value);
                }
            });
            $('#ThicknessTotal').text(Sum.toFixed(2));
        }
        //驗證Excel內容
        function SaveCheckFile() {
            $('#OpenOnlineEdit').hide();
            $('#downloadError').hide();
            $('#SendApply').hide();
            $('#disApply').hide();

            var data = new Array();

            $.each($('#grid tbody tr'), function (index,row) {
                $.each($(row).find('td'), function (colIndex,col) {
                    var StackupDetalList = {};

                    StackupDetalList.IndexNo = index;
                    StackupDetalList.ColumnValue = $(col).text();
                    StackupDetalList.StackupColumnID = (colIndex + 1);
                    data.push(StackupDetalList);
                });
            });

            var ViewModel = { StackupDetalList: data };

            var _url = '@Url.Action("SaveCheckFile", "Excel")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: JSON.stringify(ViewModel),  //JSON.stringify(model)
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    //顯示訊息
                    $('#ErrorMsg').text(result);

                    if (result != "") {
                        //顯示訊息
                        $('#ErrorMsg').text(result);
                        $('#OpenOnlineEdit').show();
                        $('#downloadError').show();
                    }
                    else {
                        $('#ErrorMsg').text('驗證通過!');
                        $('#SendApply').show();
                        $('#downloadExp').show();
                    }
                    
                    $('body').addClass('no-loader');
                },
                error: function (jqXHR) {
                    $('body').addClass('no-loader');
                },
                complete: function (jqXHR, status) {
                }
            });
        }
    </script>
}