@model m_FormQueryPartial
@{
    ViewData["Title"] = "表單查詢";
}

<div class="page-content">
    <div class="page-info container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Query 查詢</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <div class="main-wrapper container">
        <div class="modal fade bd-example-modal-sm" id="ModalDiv" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-info-circle" style="color: #36A1EA;"></i> 資訊說明</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="modal-body" id="modalbody">
                        @*欄位注意事項及內容說明*@
                    </div>

                    <div class="modal-footer" id="modalfooter">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none">
            @foreach(PDC_Parameter item in Model.PicDescriptionList)
            {
            <div id="@item.ParameterValue">
                @Html.Raw(string.IsNullOrWhiteSpace(item.ParameterDesc) ? "" : item.ParameterDesc.Replace("\n", "<br>"))
                <br />
                @foreach (var File in Model.PicDescriptionFileList.Where(x => x.SourceID == item.ParameterID))
                {
                    string Path = "~/FileUpload/" + File.FileFullName;
                    <a href="@Url.Content(Path)" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 mb-4"> <img src="@Url.Content(Path)" width="40" class="img-fluid" asp-append-version="true"> </a>
                }
            </div>
            }
        </div>


        <div class="row">
            <div class="col-lg-12">
                <form asp-action="FormQuery" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">查詢條件</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>公司別</label>
                                        <input type="text" class="form-control" asp-for="QueryParam.CompCode" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>部門</label>
                                        <input type="text" class="form-control" asp-for="QueryParam.BUName" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>申請者</label>
                                        <input type="text" class="form-control" asp-for="QueryParam.CreatorName" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>申請單編號 <a href="javascript:return false;" data-toggle="modal" onclick="ShowModal('AppliedFormNo')" data-target=".bd-example-modal-sm"><i class="fas fa-info-circle"></i></a></label>
                                        <input type="text" class="form-control" asp-for="QueryParam.AppliedFormNo">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>申請單狀態 <a href="javascript:return false;" data-toggle="modal" onclick="ShowModal('FormStatus')" data-target=".bd-example-modal-sm"><i class="fas fa-info-circle"></i></a></label>
                                        <select class="select2 form-control" asp-for="QueryParam.FormStatus">
                                            <option value=""></option>
                                            <option value="未送件">未送件</option>
                                            <option value="未派單">未派單</option>
                                            <option value="處理中">處理中</option>
                                            <option value="Release">Release</option>
                                            <option value="Reject">Reject</option>
                                            <option value="已抽單">已抽單</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>查詢日期 <a href="javascript:return false;" data-toggle="modal" onclick="ShowModal('AppliedDate')" data-target=".bd-example-modal-sm"><i class="fas fa-info-circle"></i></a></label>
                                        <input type="text" class="form-control" id="SearchDate_Start" asp-for="QueryParam.SearchDate_Start">
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>　<a></a></label>
                                        <input type="text" class="form-control" id="SearchDate_End" asp-for="QueryParam.SearchDate_End">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PCB Layout Status <a href="javascript:return false;" data-toggle="modal" onclick="ShowModal('PCBLayoutStatus')" data-target=".bd-example-modal-sm"><i class="fas fa-info-circle"></i></a></label>
                                        <select class="select2 form-control" asp-for="QueryParam.PCBLayoutStatus">
                                            <option value=""></option>
                                            @foreach (var item in Model.PCBLayoutStatusList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PCB Type <a href="javascript:return false;" data-toggle="modal" onclick="ShowModal('PCBType')" data-target=".bd-example-modal-sm"><i class="fas fa-info-circle"></i></a></label>
                                        <select class="select2 form-control" asp-for="QueryParam.PCBType">
                                            <option value=""></option>
                                            @foreach (var item in Model.PCBTypeList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Project <a href="javascript:return false;" data-toggle="modal" onclick="ShowModal('ProjectName')" data-target=".bd-example-modal-sm"><i class="fas fa-info-circle"></i></a></label>
                                        <input type="text" asp-for="QueryParam.ProjectName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Board Type <a href="javascript:return false;" data-toggle="modal" onclick="ShowModal('BoardTypeName')" data-target=".bd-example-modal-sm"><i class="fas fa-info-circle"></i></a></label>
                                        <input type="text" asp-for="QueryParam.BoardTypeName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rev. <a href="javascript:return false;" data-toggle="modal" onclick="ShowModal('Rev')" data-target=".bd-example-modal-sm"><i class="fas fa-info-circle"></i></a></label>
                                        <input type="text" asp-for="QueryParam.Revision" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div style="padding-top: 10px;">
                                        @*<a href="javascript:return false;" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose">查詢紀錄</a>*@
                                        <button type="submit" class="btn btn-outline-info" id="SearchApply" style=" padding: 4px 25px;">查詢紀錄</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        @if (Model.vw_FormQueryList != null)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body" style="padding-bottom: 0px;">
                            <p class="card-title">查詢結果</p>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" style="">申請單號</th>
                                            <th scope="col" style="">單號順序</th>
                                            <th scope="col" style="">申請狀態</th>
                                            <th scope="col" style="width: 20%;">申請日期</th>
                                            <th scope="col" style="">申請者</th>
                                            <th scope="col" style="">PCB Layout<br>Status</th>
                                            <th scope="col" style="">Project</th>
                                            <th scope="col" style="">Board Type</th>
                                            <th scope="col" style="">Rev.</th>
                                            <th scope="col" style="width: 30%;">PDC 負責人</th>
                                            <th scope="col" style="">處理結果</th>
                                            <th scope="col" style="">完成時間</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.vw_FormQueryList.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="12" style="font-weight:bold;font-size:larger">查無資料</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            for (int i = 0; i <= Model.vw_FormQueryList.Count - 1; i++)
                                            {
                                                var Path = Url.Action("FormApplyEdit", "Form") + "/?FormID=" + @Model.vw_FormQueryList[i].FormID;
                                                <tr>
                                                    <td>
                                                        <a href="@Path" class="btn btn-outline-light" style=" padding: 4px 10px;" id="mail-compose">@Model.vw_FormQueryList[i].AppliedFormNo</a>
                                                    </td>
                                                    <td>@Model.vw_FormQueryList[i].ApplyOrder</td>
                                                    <td>@Model.vw_FormQueryList[i].FormStatus</td>
                                                    <td>
                                                        @if (Model.vw_FormQueryList[i].ApplyDate.Year != 1)
                                                        {
                                                            @Model.vw_FormQueryList[i].ApplyDate.ToString("yyyy/MM/dd")<br>
                                                            @Model.vw_FormQueryList[i].ApplyDate.ToString("HH:mm:ss")
                                                        }

                                                    </td>
                                                    <td>@Html.Raw(Model.vw_FormQueryList[i].FormCreator)</td>
                                                    <td>@Model.vw_FormQueryList[i].PCBTypeStatusName</td>
                                                    <td>@Model.vw_FormQueryList[i].ProjectName</td>
                                                    <td>@Model.vw_FormQueryList[i].BoardTypeName</td>
                                                    <td>@Model.vw_FormQueryList[i].Revision</td>
                                                    <td>
                                                        @Html.Raw(Model.vw_FormQueryList[i].PDC_MemberName)
                                                    </td>
                                                    @if (Model.vw_FormQueryList[i].FormStatusCode == cns.Services.Enum.FormEnum.Form_Status.Release)
                                                    {
                                                        <td>@Model.vw_FormQueryList[i].StageName</td>
                                                        <td>
                                                            @(Model.vw_FormQueryList[i].StageDate.HasValue ? Model.vw_FormQueryList[i].StageDate.Value.ToString("yyyy/MM/dd") : "")
                                                            <br />
                                                            @(Model.vw_FormQueryList[i].StageDate.HasValue ? Model.vw_FormQueryList[i].StageDate.Value.ToString("HH:mm:ss") : "")
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                        <td></td>
                                                    }

                                                </tr>
                                            }
                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
    <style>
        input[type="text"]:disabled {
            background: gray;
        }

        input[type="radio"]:disabled {
            background: gray;
        }

        select:disabled {
            background: gray;
        }
    </style>
}

@section Scripts {
    <!-- datatable Js -->
    @*<script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>*@
    @*<script src="~/assets/js/pages/tbl-datatable-custom.js"></script>*@
    <script src="~/assets/js/ekko-lightbox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#SearchDate_Start').datepicker({ dateFormat: 'yy-mm-dd' });
            $('#SearchDate_End').datepicker({ dateFormat: 'yy-mm-dd' });


        });

        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        function ShowModal(id) {
            $('#modalbody').html($('#' + id).html());
            $('#ModalDiv').modal('show');
        }
    </script>
}