@model m_HomePartial
@{
    ViewData["Title"] = "首頁";
}

<div class="page-content">
    <div class="page-info container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">首頁</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-wrapper container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">公告說明</p>
                        <div class="form-group">
                            <!--<label for="exampleFormControlTextarea1">公告說明</label>-->
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled="disabled">@Model.Announcement.ParameterText</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body" style="padding-bottom: 0px;">
                        <p class="card-title">快速連結</p>
                        <ul class="inbox-list list-unstyled">
                            @foreach (var item in Model.HomeLinkList)
                            {
                                PDC_File File = Model.HomeLinkFileList.Where(x => x.SourceID == item.ParameterID).FirstOrDefault();
                                if (File.FileCategory == 1)
                                {
                                    string Path = Url.RouteUrl(new { Controller = "Excel", Action = "Download" }) + "/?fileName=" + File.FileFullName;
                                    <li>
                                        <div class="info-list">
                                            <div style="flex: 15; text-align: left; display: inline-block; ">
                                                <span>@item.ParameterText</span>
                                            </div>

                                            <div style=" text-align: right; display: inline-block; ">
                                                <a href="javascript:return false;" onclick="window.location.href='@Path'" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose">下載</a>
                                            </div>
                                        </div>

                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <div class="info-list">
                                            <div style="flex: 15; text-align: left; display: inline-block; ">
                                                <span>@item.ParameterText</span>
                                            </div>

                                            <div style=" text-align: right; display: inline-block; ">
                                                <a href="javascript:window.open('@File.FileName')" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose">開啟</a>
                                            </div>
                                        </div>

                                    </li>
                                }
                            }
                            <li>
                                <div class="info-list">
                                    <div style="flex: 15; text-align: left; display: inline-block; ">
                                        <span>Constraint 範本 (@(Model.m_CNSSampleFile != null ? Model.m_CNSSampleFile.CreatorDate.ToString("yyyy/MM/dd") : "2021/01/01"))</span>
                                        @*<span style="color: #ffc107;">*請務必使用最新版範本</span>*@
                                    </div>

                                    <div style=" text-align: right; display: inline-block; ">
                                        <a href="javascript:return false;" class="btn btn-outline-info" onclick="window.location.href='@Url.Action("DownloadSample", "Excel")'" style=" padding: 4px 25px;" id="mail-compose">下載</a>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

</div>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
}

@section Scripts {
    <!-- datatable Js -->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {



        });


    </script>
}