@model m_ExcelPartial

    <section>
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="page-content">
                        <div class="page-info container">
                            <div class="row">
                                <div class="col">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">StackUp編輯</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="main-wrapper container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body" style="padding-bottom: 0px;">
                                            <p class="card-title">Stackup</p>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    @*<a href="javascript:return false;" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose" onclick="AddRow()">新增欄位</a>
                                                    <a href="javascript:return false;" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose" onclick="DeleteRow()">刪除欄位</a>*@
                                                </div>
                                                <div class="col-md-7"></div>
                                                <div class="col-md-1" style="text-align: center;">
                                                    <br>unit: mil
                                                </div>
                                                <div class="col-md-1" style="text-align: center;">
                                                    總板厚<br><label id="ThicknessTotal">0.00</label>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="grid">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col" style="width: 2%;"></th>
                                                            <th scope="col" style="width: 7%;">層別<br />(LAYER)</th>
                                                            <th scope="col" style="width: 15%;">LAYOUT疊構<br />(Stack up Type)</th>
                                                            <th scope="col" style="width: 10%;">名稱<br />（NAME）</th>
                                                            <th scope="col" style="width: 17%;">代碼<br /> (NAME CODE)</th>
                                                            <th scope="col" style="width: 10%;">線寬<br />(LINE WIDTH)</th>
                                                            <th scope="col" style="width: 10%;">間距<br />(SPACING)</th>
                                                            <th scope="col" style="width: 15%;">PCB疊構<br />(Stack up)</th>
                                                            <th scope="col" style="width: 7%;">板厚<br />(Thickness)</th>
                                                            <th scope="col" style="width: 2%;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i <= Model.ExcelSheetDts[0].Rows.Count - 1; i++)
                                                        {
                                                            bool IsDisabled = false;
                                                            bool IsLayer = false;
                                                            if (i == 0 || i == (Model.ExcelSheetDts[0].Rows.Count - 1))
                                                            {
                                                                IsDisabled = true;
                                                            }
                                                            <tr>
                                                                <td style="vertical-align: middle">
                                                                    @if (i % 2 == 1 && Model.ExcelSheetDts[0].Rows[i][2].ToString() != "BOT")
                                                                    {
                                                                        <a href="javascript:return false;" onclick="AddRow(this)"><i class="fas fa-plus-circle fa-2x"></i></a>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <input type="email" class="form-control data @(i % 2 == 1 ? "Layer" : "")" style="padding:12px 15px;background-color:gray" value="@Model.ExcelSheetDts[0].Rows[i][0]" disabled="disabled" />
                                                                </td>

                                                                <td>
                                                                    <input type="email" class="form-control data" style="padding:12px 15px; background-color:gray" value="@Model.ExcelSheetDts[0].Rows[i][1]" disabled="disabled" />
                                                                </td>

                                                                <td>
                                                                    @if (i % 2 == 0)
                                                                    {
                                                                        <input type="email" class="form-control data" style="padding:12px 15px;background-color:gray" value="@Model.ExcelSheetDts[0].Rows[i][2]" disabled="disabled" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="email" class="form-control data" style="padding:12px 15px;" value="@Model.ExcelSheetDts[0].Rows[i][2]" onchange="SetGroupName(this)" />
                                                                    }
                                                                </td>

                                                                <td>
                                                                    <input type="email" class="form-control data" style="padding:12px 15px;background-color: gray;" value="@Model.ExcelSheetDts[0].Rows[i][3]" disabled="disabled" />
                                                                </td>

                                                                <td>
                                                                    @if (i % 2 == 0)
                                                                    {
                                                                        <input type="email" class="form-control data" style="padding:12px 15px;background-color:gray" value="@Model.ExcelSheetDts[0].Rows[i][4]" disabled="disabled"  />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="email" class="form-control data" style="padding:12px 15px;" value="@Model.ExcelSheetDts[0].Rows[i][4]" onchange="CheckNumRule(this)" />
                                                                    }
                                                                </td>

                                                                <td>
                                                                    @if (i % 2 == 0)
                                                                    {
                                                                        <input type="email" class="form-control data" style="padding:12px 15px;background-color:gray" value="@Model.ExcelSheetDts[0].Rows[i][5]" disabled="disabled"  />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="email" class="form-control data" style="padding:12px 15px;" value="@Model.ExcelSheetDts[0].Rows[i][5]" onchange="CheckNumRule(this)" />
                                                                    }
                                                                </td>

                                                                <td>
                                                                    <input type="email" class="form-control data" style="padding:12px 15px;" value="@Model.ExcelSheetDts[0].Rows[i][6]" />
                                                                </td>

                                                                <td>
                                                                    <input type="email" class="form-control data Thickness" style="padding:12px 15px;" value="@Model.ExcelSheetDts[0].Rows[i][7]" onchange="GetTotal()" />
                                                                </td>
                                                                <td style="vertical-align: middle">
                                                                    @if (i % 2 == 1 && Model.ExcelSheetDts[0].Rows[i][2].ToString() != "BOT"  && i > 1)
                                                                    {
                                                                        <a href="javascript:return false;" Layer="@(i)" onclick="DeleteRow(this)"><i class="fas fa-trash-alt fa-2x"></i></a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-title">Stackup 檢測</p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <textarea class="form-control" id="ErrorMsg" rows="3" disabled="disabled"></textarea>
                                                        <br>
                                                        <span>※離開此畫面後，無法在次下載檔案！</span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        @*<a href="#" class="btn btn-success" style=" padding: 4px 25px;" id="mail-compose">線上修改</a>*@
                                                        @*<input type="button" onclick="AddRow()" id="uploadExcel" value="新增欄位" class="btn-success" />
        <input type="button" onclick="DeleteRow()" id="uploadExcel" value="刪除欄位" class="btn-success" />*@

                                                        <a href="javascript:return false;" class="btn btn-outline-warning" style=" padding: 4px 25px;" id="mail-compose" onclick="SaveCheckFile()">執行檢測</a>
                                                        <br />
                                                        <br />
                                                        <a href="javascript:return false;" class="btn btn-outline-danger" style=" padding: 4px 25px;" id="downloadError" onclick="DownloadError()">下載錯誤明細</a>
                                                        @if (Model.IsFormApplyEdit)
                                                        {
                                                            <a href="javascript:return false;" class="btn btn-outline-info" style=" padding: 4px 25px;" id="SaveFile" onclick="SaveFile()">儲存檔案</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="javascript:return false;" class="btn btn-outline-info" style=" padding: 4px 25px;" id="downloadCNS" onclick="DownloadCheckFile()">下載 CNS Excel</a>
                                                            <a href="javascript:return false;" class="btn btn-outline-info" style=" padding: 4px 25px;" id="downloadExp">下載 cns.exp</a>
                                                        }


                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Main -->
                    </div>

                </div>
            </div>
        </div>

        

        <input type="hidden" id="RuleCategory" value="@Model.m_ExcelRule.ParameterText" />
        <input type="hidden" id="RuleValue" value="@Model.m_ExcelRule.ParameterValue" />
        <input type="hidden" id="RuleDesc" value="@Model.m_ExcelRule.ParameterDesc" />
    </section>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
}

@section Scripts {
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#grid').DataTable({
            //    lengthChange: false,
            //    info: false,
            //    searching: false,
            //    scrollX: false,
            //    bPaginate: false, // 顯示換頁
            //    ordering: false,  // 是否顯示header排序
            //});
            //$('.select2').select2();

            GetTotal();
            SaveCheckFile();
        });
        //計算總版厚
        function GetTotal() {
            //var table = $('#grid').DataTable();
            var Sum = 0.00;
            $.each($('.Thickness'), function (index, row) {
                var value = $(this).val();
                if ($.isNumeric(value))
                {
                    Sum += Number(value);
                }
            });
            $('#ThicknessTotal').text(Sum.toFixed(2));
        }
        //儲存檔案，並返回申請單
        function SaveFile() {

            var data = new Array();

            $.each($('#grid tbody tr'), function (index,row) {
                $.each($(row).find('.data'), function (colIndex,col) {
                    var StackupDetalList = {};
                    StackupDetalList.IndexNo = index;
                    StackupDetalList.ColumnValue = $(col).val();
                    StackupDetalList.StackupColumnID = (colIndex + 1);
                    data.push(StackupDetalList);
                });
            });

            var ViewModel = { StackupDetalList: data };

            var _url = '@Url.Action("SaveFormExcelFile", "Excel")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: JSON.stringify(ViewModel),  //JSON.stringify(model)
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.status == "400") {
                        alert(result.ErrorMessage);
                    }
                    else {
                        window.opener.ReLoadExcelFile();
                        window.close();
                    }
                },
                error: function (jqXHR) {
                },
                beforeSend: function () {
                    //開啟遮罩
                    $('body').removeClass('no-loader');
                },
                complete: function (jqXHR, status) {
                    //關閉遮罩
                    $('body').addClass('no-loader');
                }
            });
        }

        //檢查線寬線距
        function CheckNumRule(obj) {
            //去除除數字內容
            $(obj).val($(obj).val().replace(/[^0-9.]/ig, ""));
            //取得規則
            var RuleCategory = $('#RuleCategory').val();
            var RuleValue = parseFloat($('#RuleValue').val());
            var RuleDesc = $('#RuleDesc').val();
            //有設定才檢查
            if (RuleCategory && RuleValue) {
                if ($.isNumeric($(obj).val())) {
                    if (RuleCategory == "1") {
                        if (parseFloat($(obj).val()) <= RuleValue)
                            alert(RuleDesc);
                    }

                    if (RuleCategory == "2") {
                        if (parseFloat($(obj).val()) < RuleValue)
                            alert(RuleDesc);
                    }

                    if (RuleCategory == "3") {
                        if (parseFloat($(obj).val()) = RuleValue)
                            alert(RuleDesc);
                    }

                    if (RuleCategory == "4") {
                        if (parseFloat($(obj).val()) > RuleValue)
                            alert(RuleDesc);
                    }

                    if (RuleCategory == "5") {
                        if (parseFloat($(obj).val()) >= RuleValue)
                            alert(RuleDesc);
                    }
                }
            }
        }

        //根據Name自動帶入其他欄位值
        function SetGroupName(obj) {
            //先轉大寫
            $(obj).val($(obj).val().toUpperCase());

            var GetNum = $(obj).val().replace(/[^0-9]/ig, "");
            var GroupName = $(obj).val().replace(/[0-9]/ig, "");
            //如果為IN，第四欄帶入數字、第二欄帶入Conductor
            if (GroupName.indexOf("IN") == 0) {
                if ($.isNumeric(GetNum)) {
                    $(obj).parent().next().find('input').eq(0).val(GetNum);
                }
                $(obj).parent().prev().find('input').eq(0).val('Conductor');
                $(obj).parent().next().next().find('input').eq(0).prop('disabled',false);
                $(obj).parent().next().next().next().find('input').eq(0).prop('disabled', false);
                $(obj).parent().next().next().find('input').eq(0).css("background-color", "");
                $(obj).parent().next().next().next().find('input').eq(0).css("background-color", "");
            }

            //如果為VCC，第二欄帶入Conductor
            if (GroupName.indexOf("VCC") == 0) {
                $(obj).parent().next().find('input').eq(0).val('');
                $(obj).parent().prev().find('input').eq(0).val('Conductor');
                $(obj).parent().next().next().find('input').eq(0).prop('disabled',false);
                $(obj).parent().next().next().next().find('input').eq(0).prop('disabled', false);
                $(obj).parent().next().next().find('input').eq(0).css("background-color", "");
                $(obj).parent().next().next().next().find('input').eq(0).css("background-color", "");
            }

            //如果為GND，第二欄帶入Conductor
            if (GroupName.indexOf("GND") == 0) {
                $(obj).parent().next().find('input').eq(0).val('');
                $(obj).parent().prev().find('input').eq(0).val('Conductor');
                $(obj).parent().next().next().find('input').eq(0).prop('disabled',false);
                $(obj).parent().next().next().next().find('input').eq(0).prop('disabled',false);
                $(obj).parent().next().next().find('input').eq(0).css("background-color", "");
                $(obj).parent().next().next().next().find('input').eq(0).css("background-color", "");
            }

            //如果為S開頭，第二欄帶入Plane、四五六不填值
            if (GroupName.indexOf("S") == 0) {
                $(obj).parent().next().find('input').eq(0).val('');
                $(obj).parent().next().next().find('input').eq(0).val('');
                $(obj).parent().next().next().find('input').eq(0).prop('disabled',true);
                $(obj).parent().next().next().find('input').eq(0).css("background-color", "gray");
                $(obj).parent().next().next().next().find('input').eq(0).val('');
                $(obj).parent().next().next().next().find('input').eq(0).prop('disabled',true);
                $(obj).parent().next().next().next().find('input').eq(0).css("background-color", "gray");
                $(obj).parent().prev().find('input').eq(0).val('Plane');
            }
        }

        //執行檢測
        function SaveCheckFile() {

            $('#OpenOnlineEdit').hide();
            $('#downloadError').hide();
            $('#downloadCNS').hide();
            $('#downloadExp').hide();
            $('#SaveFile').hide();

            var data = new Array();

            $.each($('#grid tbody tr'), function (index,row) {
                $.each($(row).find('.data'), function (colIndex,col) {
                    var StackupDetalList = {};
                    StackupDetalList.IndexNo = index;
                    StackupDetalList.ColumnValue = $(col).val();
                    StackupDetalList.StackupColumnID = (colIndex + 1);
                    data.push(StackupDetalList);
                });
            });

            var ViewModel = { StackupDetalList: data };

            var _url = '@Url.Action("SaveCheckFile", "Excel")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: JSON.stringify(ViewModel),  //JSON.stringify(model)
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result != "") {
                        //顯示訊息
                        $('#ErrorMsg').text(result);
                        $('#downloadError').show();
                    }
                    else {
                        $('#ErrorMsg').text('驗證通過!');
                        $('#downloadExp').show();
                        $('#downloadCNS').show();
                        $('#SaveFile').show();
                    }
                },
                error: function (jqXHR) {
                },
                beforeSend: function () {
                    //開啟遮罩
                    $('body').removeClass('no-loader');
                },
                complete: function (jqXHR, status) {
                    //關閉遮罩
                    $('body').addClass('no-loader');
                }
            });
        }
        //下載檢查後檔案
        function DownloadCheckFile() {
            var data = new Array();

            $.each($('#grid tbody tr'), function (index,row) {
                $.each($(row).find('.data'), function (colIndex,col) {
                    var StackupDetalList = {};
                    StackupDetalList.IndexNo = index;
                    StackupDetalList.ColumnValue = $(col).val();
                    StackupDetalList.StackupColumnID = (colIndex + 1);
                    data.push(StackupDetalList);
                });
            });

            var ViewModel = { StackupDetalList: data };

            var _url = '@Url.Action("DownloadCheckFile", "Excel")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: JSON.stringify(ViewModel),  //JSON.stringify(model)
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (IsChangeRow) {
                        alert('有新增減列，匯出後麻煩確認後方參考訊息');
                    }
                    //顯示訊息
                    window.location.href = "@Url.RouteUrl(new { Controller = "Excel", Action = "Download" })/?fileName=" + result;
                },
                error: function (jqXHR) {
                },
                beforeSend: function () {
                    //開啟遮罩
                    $('body').removeClass('no-loader');
                },
                complete: function (jqXHR, status) {
                    //關閉遮罩
                    $('body').addClass('no-loader');
                }
            });
        }
        //下載錯誤訊息
        function DownloadError() {
            var data = new Array();

            $.each($('#grid tbody tr'), function (index,row) {
                $.each($(row).find('.data'), function (colIndex,col) {
                    var StackupDetalList = {};
                    StackupDetalList.IndexNo = index;
                    StackupDetalList.ColumnValue = $(col).val();
                    StackupDetalList.StackupColumnID = (colIndex + 1);
                    data.push(StackupDetalList);
                });
            });

            var ViewModel = { StackupDetalList: data };

            var _url = '@Url.Action("DownloadError", "Excel")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: JSON.stringify(ViewModel),  //JSON.stringify(model)
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    //顯示訊息
                    window.location.href = "@Url.RouteUrl(new { Controller = "Excel", Action = "DownloadErrorFile" })/?FileName=" + result;
                },
                error: function (jqXHR) {
                },
                beforeSend: function () {
                    //開啟遮罩
                    $('body').removeClass('no-loader');
                },
                complete: function (jqXHR, status) {
                    //關閉遮罩
                    $('body').addClass('no-loader');
                }
            });
        }

        var IsChangeRow = false;
        //新增列
        function AddRow(obj) {
            IsChangeRow = true;

            var NextRow = $(obj).parent().parent().next();

            var html = '';
            html += '<tr>';
            html += ' <td style="vertical-align: middle">';
            html += '<a href="javascript:return false;" Layer="" onclick="AddRow(this)"><i class="fas fa-plus-circle fa-2x"></i></a>';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data Layer" style="padding:12px 15px;background-color:gray" value="" disabled="disabled" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px; background-color:gray" value="Conductor" disabled="disabled" />';
            
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;" value="" onchange="SetGroupName(this)" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;background-color:gray" value="" disabled="disabled" />';
            html += '</td>';
            html += '<td>';
            html += ' <input type="email" class="form-control data" style="padding:12px 15px;" value="" onchange="CheckNumRule(this)" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;" value="" onchange="CheckNumRule(this)" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;" value="" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data Thickness" style="padding:12px 15px;" value="" onchange="GetTotal()" />';
            html += '</td>';
            html += '<td style="vertical-align: middle">';
            html += '<a href="javascript:return false;" data-Layer="" onclick="DeleteRow(this)"><i class="fas fa-trash-alt fa-2x"></i></a>';
            html += '</td>';
            html += '</tr>';

            html += '<tr>';
            html += ' <td style="vertical-align: middle">';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;background-color:gray" value="" disabled="disabled" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px; background-color:gray" value="Dielectric" disabled="disabled" />';
            
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;background-color: gray;" value="" disabled="disabled" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;background-color: gray;" value="" disabled="disabled" />';
            html += '</td>';
            html += '<td>';
            html += ' <input type="email" class="form-control data" style="padding:12px 15px;background-color: gray;" value="" disabled="disabled" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;background-color: gray;" value="" disabled="disabled" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data" style="padding:12px 15px;" value="" />';
            html += '</td>';
            html += '<td>';
            html += '<input type="email" class="form-control data Thickness" style="padding:12px 15px;" value="" onchange="GetTotal()" />';
            html += '</td>';
            html += '<td style="vertical-align: middle">';
            html += '</td>';
            html += '</tr>';

            NextRow.after(html);

            ReSetData();
        }
        //刪除列
        function DeleteRow(obj) {
            IsChangeRow = true;

            var NextRow = $(obj).parent().parent().next();

            NextRow.remove();
            $(obj).parent().parent().remove();

            ReSetData();
        }
        //Layer重新編製
        function ReSetData() {
             
            $.each($('#grid > tbody > tr').find('.Layer'), function (colIndex,col) {
                $(col).val('L' + (colIndex + 1));   
            });
        }
    </script>
}